.item-product--img-box {
  width: 35vw;
}
.item-product--img {
  width: 100%;
}
.item-product--brand {
  font-size: 0.5em;
  color: orange;
}
.item-product--name {
  padding: 0 5px;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.item-product--price {
  font-size: 1em;
  color: red;
  font-weight: 600;
}
