.item-product--img-box {
  width: 35vw;
}
.item-product--img {
  width: 100%;
}
.item-product--brand {
  font-size: 0.5em;
  color: orange;
}
.item-product--name {
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
}
.item-product--price {
  font-size: 1em;
  color: red;
  font-weight: 600;
}
